<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer mode="side" [(opened)]="opened" class="sidenav">
    <mat-toolbar color="primary">Admin</mat-toolbar>
    <mat-nav-list>
      <mat-list-item
        *ngFor="let link of links"
        [routerLink]="link.path"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon matListItemIcon>{{ link.icon }}</mat-icon>
        <div matListItemTitle>{{ link.label }}</div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar">
      <button mat-icon-button (click)="drawer.toggle()" class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>

      <span class="title">Panel de Administración</span>

      <span class="spacer"></span>

      <span *ngIf="empleado" class="empleado-info">
        {{ empleado.nombre }} {{ empleado.apellido }}
      </span>

      <button mat-icon-button (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
